In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("C:/Users/priya/Downloads/Student_information(Sheet1) (1).csv")

In [3]:
df

,MathScore,Reading_Score,Writing_score,Clubjoin,Placement_Score,Placement_offer
0,64,77,79,2023,92,3
1,61,63,87,2023,77,2
2,80,65,89,2023,76,2
3,80,67,99,2020,91,3
4,62,77,85,2023,93,3
...,...,...,...,...,...,...
74,67,73,96,2021,79,2
75,70,78,79,2022,85,3
76,61,66,80,2023,91,3
77,65,67,81,2024,80,2
78,74,76,94,2020,86,3

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79 entries, 0 to 78
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   MathScore        79 non-null     int64
 1   Reading_Score    79 non-null     int64
 2   Writing_score    79 non-null     int64
 3   Clubjoin         79 non-null     int64
 4   Placement_Score  79 non-null     int64
 5   Placement_offer  79 non-null     int64
dtypes: int64(6)
memory usage: 3.8 KB

In [5]:
df.isnull()

,MathScore,Reading_Score,Writing_score,Clubjoin,Placement_Score,Placement_offer
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
...,...,...,...,...,...,...
74,False,False,False,False,False,False
75,False,False,False,False,False,False
76,False,False,False,False,False,False
77,False,False,False,False,False,False
78,False,False,False,False,False,False

In [10]:
df.MathScore

0     64
1     61
2     80
3     80
4     62
      ..
74    67
75    70
76    61
77    65
78    74
Name: MathScore, Length: 79, dtype: int64

In [14]:
x=df.MathScore.min()

In [15]:
x

60

In [16]:
df.MathScore.isnull()

0     False
1     False
2     False
3     False
4     False
      ...
74    False
75    False
76    False
77    False
78    False
Name: MathScore, Length: 79, dtype: bool

In [19]:
df.isnull().sum()

MathScore          0
Reading_Score      0
Writing_score      0
Clubjoin           0
Placement_Score    0
Placement_offer    0
dtype: int64

In [22]:
df.Writing_score.min()

79

In [23]:
df=pd.read_csv("C:/Users/priya/Downloads/Student_information_dataset(in).csv")

In [24]:
df

,MathScore,Reading_Score,Writing_score,Clubjoin,Placement_Score,Placement_offer
0,64.0,77.0,79.0,2023.0,92.0,3.0
1,61.0,63.0,87.0,2023.0,77.0,2.0
2,80.0,65.0,89.0,2023.0,76.0,2.0
3,80.0,67.0,99.0,2020.0,91.0,3.0
4,620.0,77.0,85.0,2023.0,93.0,3.0
...,...,...,...,...,...,...
74,67.0,73.0,96.0,2021.0,79.0,2.0
75,70.0,78.0,79.0,2022.0,85.0,3.0
76,61.0,66.0,80.0,2023.0,91.0,3.0
77,65.0,67.0,81.0,2024.0,80.0,2.0
78,74.0,76.0,94.0,2020.0,86.0,3.0

In [27]:
df.MathScore.min()

60.0

In [29]:
df.MathScore.isnull()

0     False
1     False
2     False
3     False
4     False
      ...
74    False
75    False
76    False
77    False
78    False
Name: MathScore, Length: 79, dtype: bool

In [30]:
df.isnull().sum()

MathScore          2
Reading_Score      3
Writing_score      3
Clubjoin           7
Placement_Score    2
Placement_offer    5
dtype: int64

In [34]:
x=df.Reading_Score.min()

In [35]:
x

60.0

In [83]:
y=df.Reading_Score.fillna(x)

In [84]:
y

0     77.0
1     63.0
2     65.0
3     67.0
4     77.0
      ...
74    73.0
75    78.0
76    66.0
77    67.0
78    76.0
Name: Reading_Score, Length: 79, dtype: float64

In [42]:
x=df.Writing_score.min()

In [43]:
x

79.0

In [46]:
y=df.Writing_score.fillna(x)

In [47]:
y

0     79.0
1     87.0
2     89.0
3     99.0
4     85.0
      ...
74    96.0
75    79.0
76    80.0
77    81.0
78    94.0
Name: Writing_score, Length: 79, dtype: float64

In [48]:
df.Placement_Score.isnull()

0     False
1     False
2     False
3     False
4     False
      ...
74    False
75    False
76    False
77    False
78    False
Name: Placement_Score, Length: 79, dtype: bool

In [49]:
df.Placement_Score.isnull().sum()

np.int64(2)

In [50]:
x=df.Placement_Score.min()

In [51]:
x

75.0

In [52]:
y=df.Placement_Score.fillna(x)

In [53]:
y

0     92.0
1     77.0
2     76.0
3     91.0
4     93.0
      ...
74    79.0
75    85.0
76    91.0
77    80.0
78    86.0
Name: Placement_Score, Length: 79, dtype: float64

In [65]:
a=df['MathScore'].mean()

In [66]:
a

np.float64(76.97402597402598)

In [70]:
df['MathScore'].fillna(77, inplace=True)

In [71]:
df

,MathScore,Reading_Score,Writing_score,Clubjoin,Placement_Score,Placement_offer
0,64.0,77.0,79.0,2023.0,92.0,3.0
1,61.0,63.0,87.0,2023.0,77.0,2.0
2,80.0,65.0,89.0,2023.0,76.0,2.0
3,80.0,67.0,99.0,2020.0,91.0,3.0
4,620.0,77.0,85.0,2023.0,93.0,3.0
...,...,...,...,...,...,...
74,67.0,73.0,96.0,2021.0,79.0,2.0
75,70.0,78.0,79.0,2022.0,85.0,3.0
76,61.0,66.0,80.0,2023.0,91.0,3.0
77,65.0,67.0,81.0,2024.0,80.0,2.0
78,74.0,76.0,94.0,2020.0,86.0,3.0

In [73]:
df.MathScore.isnull().sum()

np.int64(0)

In [76]:
df.fillna({'Reading_Score': 70}, inplace=True)

In [77]:
df

,MathScore,Reading_Score,Writing_score,Clubjoin,Placement_Score,Placement_offer
0,64.0,77.0,79.0,2023.0,92.0,3.0
1,61.0,63.0,87.0,2023.0,77.0,2.0
2,80.0,65.0,89.0,2023.0,76.0,2.0
3,80.0,67.0,99.0,2020.0,91.0,3.0
4,620.0,77.0,85.0,2023.0,93.0,3.0
...,...,...,...,...,...,...
74,67.0,73.0,96.0,2021.0,79.0,2.0
75,70.0,78.0,79.0,2022.0,85.0,3.0
76,61.0,66.0,80.0,2023.0,91.0,3.0
77,65.0,67.0,81.0,2024.0,80.0,2.0
78,74.0,76.0,94.0,2020.0,86.0,3.0

In [78]:
df.Reading_Score.isnull().sum()

np.int64(0)

In [79]:
df.isnull().sum()

MathScore          0
Reading_Score      0
Writing_score      3
Clubjoin           7
Placement_Score    2
Placement_offer    5
dtype: int64